# Virtual environments
.venv/
.venv-1/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Environment variables
.env

# IDE settings
.vscode/

# OS files
.DS_Store
Thumbs.db
